@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root{
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

@layer components {
  .service-class {
    @apply flex flex-col gap-6 items-center;
  }
  .h2-class {
    @apply font-bold text-3xl text-center my-4 p-3;
  }
  .p-class {
    @apply text-justify mx-10;
  }
}