# Copy this file to .env and fill in your values.
PORT=
DATABASE_URL=
SHADOW_DATABASE_URL=
SECRET=
SECRET_KEY=
ACCESS_KEY=
BUCKET_NAME=
REGION=
GMAIL_AUTH_USER=
GMAIL_AUTH_PASS=
STRIPE_SECRET_KEY=
STRIPE_SECRET_KEY_RISE=
STRIPE_PUBLISH_ARTICLE_PRICEID=
STRIPE_FULL_ISSUE_PRICEID=
FULLISSUE_WEBHOOK_SIG=
PUBLISH_JOURNAL_WEBHOOK_SIG=
RISE_WEBHOOK_SIG=
FRONTEND_RISE_URL=
REACT_APP_EMAIL_URL=
REACT_APP_EMAIL_VERIFY_BACKEND_URL=
REACT_APP_STRIPE_DOMAIN=
RESEND_API_KEY=
RESEND_API_KEY_CORPINK=
RESEND_API_KEY_INVESTOR=
RISE_AUTH_USER=
RISE_AUTH_PASS=
RISE_INVESTOR_AUTH_USER=
